<footer class="row footer align-middle">
  <%= link_to "Ecommerce Elements", "#", :class => "show-for-medium medium-3 columns footer_title" %>
  <ul class="menu align-right medium-9 columns">
    <li>
      <%= link_to "https://pinterest.com" do %>
    	<%= image_tag("pinterest-logo.png", :class => "footer_social-logo", :alt => "Pinterest social network") %>
      <% end %>
    </li>
    <li>
      <%= link_to "https://vine.co" do %>
    	<%= image_tag("vine-logo.png", :class => "footer_social-logo", :alt => "Vine social network") %>
      <% end %>
    </li>
    <li>
      <%= link_to "https://facebook.com" do %>
    	<%= image_tag("facebook-logo.png", :class => "footer_social-logo", :alt => "Facebook social network") %>
      <% end %>
    </li>
    <li>
      <%= link_to "https://twitter.com" do %>
    	<%= image_tag("twitter-logo.png", :class => "footer_social-logo", :alt => "Twitter social network") %>
      <% end %>
    </li>
  </ul>
</footer>