<header class="header row align-middle">
  <div class="header_compressed-menu"></div>
  <%= link_to "Ecommerce Elements", "#", :class => "header_title small-4 large-3 columns" %>

  <nav class="large-9 columns header_menu">
    <div>
      <ul>
        <li class="header_menu-option"><%= link_to "Home", "#" %></li>
        <li class="header_menu-option"><%= link_to "Brands", "#" %></li>
        <li class="header_menu-option"><%= link_to "Mens", "#" %></li>
        <li class="header_menu-option"><%= link_to "Womens", "#" %></li>
        <li class="header_menu-option"><%= link_to "Contacts", "#" %></li>
      </ul>
    </div>
  </nav>

  <!-- Search box -->
  <div class="search-box">
      <button type="button" class="search-box_icon"></button>
      <input class ="search-box_input" autofocus type="text" placeholder="Search..."></input>
  </div>
</header>

<div class="aside-menu">
  <ul>
    <li class="aside-menu_option"><%= link_to "Home", "#" %></li>
    <li class="aside-menu_option"><%= link_to "Brands", "#" %></li>
    <li class="aside-menu_option"><%= link_to "Mens", "#" %></li>
    <li class="aside-menu_option"><%= link_to "Womens", "#" %></li>
    <li class="aside-menu_option"><%= link_to "Contacts", "#" %></li>
  </ul>
</div>

<div class="screen-overlay"></div>